@import '../components/title';
@import '../components/button';

%copy {
  .copy {
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 8;

    // h2, div with shape of line placed on first letter of heading level two
    @extend %title;

    // description of page
    p {
      color: $text;
      font-size: 1.04em;
      padding: 0 5em;
    }

    // button responsible for changing page
    @extend %button;
  }
}