@import '../components/title';
@import '../components/button';

%copy {
  .copy {
    position: relative;
    text-align: center;
    z-index: 8;

    // h2, div with shape of line placed on first letter of heading level two
    @extend %title;

    // page description
    p {
      color: $text;
      display: block;
      font-size: 1.28em;
      margin: auto;
      width: 56%;
    }

    // change page button
    @extend %button;
  }
}