@import 'copy';
@import '../components/img';

%module {
  .module {
    margin-bottom: 1em;
    position: relative;

    // title, description, button
    @extend %copy;

    // image
    @extend %img;

    // div as decoration
    .decoration {
      @include transform(rotate(-45deg));
      text-align: center;
      background-color: $decoration;
      height: 0.2em;
      margin: 2.5em auto 1.5em auto;
      position: relative;
      width: 0.2em;
      z-index: 20;
    }

    .background {
      background-color: $background;
      height: 85%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
    }

    .rectangle {
      bottom: 5.5em;
      border: 1px solid $rectangle;
      margin: auto;
      height: 4em;
      position: relative;
      width: 87%;
      z-index: -1;
    }
  }
}