// helpers
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';
// layout
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

body {
  background-color: $main-background;
  font-family: $standard-font;
  font-size: $standard-size;

  @media only screen and (min-width: 768px) and (min-height: 468px) {
    font-size: 10.5px;
  }

  @media only screen and (min-width: 1224px) and (min-height: 768px) {
    font-size: 11px;
  }
}