@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

body {
  background-color: $main-background;
  font-family: $standard-font;
  font-size: $standard-size;

  @media only screen and (min-width: 321px) and (max-height: 321px) {
    font-size: 12px;
  }

  @media only screen and (min-width: 468px) and (min-height: 321px) {
    font-size: 12.5px;
  }

  @media only screen and (min-width: 768px) and (min-height: 468px) {
    font-size: 13px;
  }

  @media only screen and (min-width: 1224px) and (max-height: 767px) {
    font-size: 14px;
  }

  @media only screen and (min-width: 1224px) and (min-height: 768px) {
    font-size: 15px;
  }
}