/* Fonts */
$standard-font: 'Open Sans', sans-serif;
$mono-font: 'Roboto Mono', monospace;

/* Fonts-size */
$standard-size: 14px;

/* Colors */
$main-background: #F7F7F7;
$headers: #000;
$text: #747474;
$decoration: #646464;
$background: #fff;
$rectangle: #C2D2C2;
$button-border: rgba(15, 41, 48, .2);
$button-color: #0E2A30;
$shadow: #D7D7D7;
// extra detail on first letter in header
$line: #969696;