%button {
  button {
    background-color: $background;
    border: 1px solid $button-border;
    color: $button-color;
    font-size: 0.63em;
    margin: 1em 0 0 0;
    min-width: 40%;
    outline: none;
    padding: 1.2em 0;
  }
}