%button {
  button {
    background-color: $background;
    border: 1px solid $button-border-fallback;
    border: 1px solid $button-border;
    color: $button-color;
    cursor: pointer;
    display: block;
    font-size: 1.28em;
    margin: 2em auto 3em auto;
    outline: none;
    padding: 1em 0;
    text-transform: uppercase;
    width: 40%;
    @include transition(.5s);
    &:hover {
      color: $button-color-hover;
      background-color: $button-background-hover;
      border-radius: 5px;
    }
  }
}