%decoration {
  .decoration {
    @include transform(rotate(-45deg));
    background-color: $decoration;
    height: 0.3em;
    margin: 2.5em auto 1.5em auto;
    position: relative;
    text-align: center;
    width: 0.3em;
    z-index: 20;
  }
}