%img {
  img {
    box-shadow: 0 25px 45px 0 $shadow, 0 0 15px #000;
    display: block;
    height: auto;
    margin: auto;
    max-width: 100%;
    position: relative;
    width: 65%;
    z-index: 10;
  }
}