%rectangle {
  .rectangle {
    @include transform(translateX(-50%));
    border: 1px solid $rectangle;
    bottom: 8%;
    height: 4em;
    left: 50%;
    margin: auto;
    position: absolute;
    width: 80%;
    z-index: -1;
  }
}