/* Fonts */
/* Fonts-size */
/* Colors */
header h1 {
  color: #000;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  padding: 2rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px #E74C3C; }
  @media only screen and (min-width: 768px) {
    header h1 {
      font-size: 3rem; } }
  @media only screen and (min-width: 1224px) {
    header h1 {
      font-size: 4rem; } }

.main section .module .copy h2 {
  color: #000;
  display: inline-block;
  font-size: 2.24em;
  font-weight: normal;
  margin-top: 2em;
  position: relative; }
  .main section .module .copy h2 .line {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #969696;
    bottom: 4.5px;
    font-weight: 900;
    height: 3px;
    left: 3px;
    position: absolute;
    width: 1px; }

.main section .module .copy button {
  background-color: #fff;
  border: 1px solid #0F2930;
  border: 1px solid rgba(15, 41, 48, 0.2);
  color: #0E2A30;
  cursor: pointer;
  display: block;
  font-size: 1.28em;
  margin: 2em auto 3em auto;
  outline: none;
  padding: 1em 0;
  text-transform: uppercase;
  width: 40%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .main section .module .copy button:hover {
    color: #fff;
    background-color: #000;
    border-radius: 5px; }

.main section .module .copy {
  position: relative;
  text-align: center;
  z-index: 8; }
  .main section .module .copy p {
    color: #747474;
    display: block;
    font-size: 1.28em;
    margin: auto;
    width: 56%; }

.main section .module img {
  box-shadow: 0 25px 45px 0 #D7D7D7, 0 0 15px #000;
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  position: relative;
  width: 65%;
  z-index: 10; }

.main section .module .background {
  background-color: #fff;
  height: 87%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5; }

.main section .module .decoration {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #646464;
  height: 0.3em;
  margin: 2.5em auto 1.5em auto;
  position: relative;
  text-align: center;
  width: 0.3em;
  z-index: 20; }

.main section .module .rectangle {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border: 1px solid #C2D2C2;
  bottom: 8%;
  height: 4em;
  left: 50%;
  margin: auto;
  position: absolute;
  width: 80%;
  z-index: -1; }

.main section .module {
  margin-bottom: 1em;
  position: relative; }

.main section .page {
  display: block;
  max-width: 626px;
  width: 100%;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .main section .page {
      display: inline-block;
      width: 45%; }
      .main section .page:first-child {
        margin-right: 2%; } }

.main {
  text-align: center;
  width: 100%; }
  .main section {
    display: inline-block;
    max-width: 1280px; }

footer {
  padding: 3rem 1.5rem;
  text-align: center; }
  footer a {
    color: #0E2A30;
    cursor: pointer;
    font-size: 3rem;
    margin: 0 .5rem;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    @media only screen and (min-width: 768px) {
      footer a {
        font-size: 4rem; } }
    @media only screen and (min-width: 1224px) {
      footer a {
        font-size: 5rem; } }
    footer a:hover {
      color: #646464; }
  footer p {
    color: #000;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    margin-top: 1.8rem;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      footer p {
        font-size: 1.25rem; } }
    @media only screen and (min-width: 1224px) {
      footer p {
        font-size: 1.5rem; } }

body {
  background-color: #F7F7F7;
  font-family: "Open Sans", sans-serif;
  font-size: 10px; }
  @media only screen and (min-width: 768px) and (min-height: 468px) {
    body {
      font-size: 10.5px; } }
  @media only screen and (min-width: 1224px) and (min-height: 768px) {
    body {
      font-size: 11px; } }

/*# sourceMappingURL=App.css.map */
