footer {
  padding: 3rem 1.5rem;
  text-align: center;

  a {
    color: $button-color;
    cursor: pointer;
    font-size: 3rem;
    margin: 0 .5rem;
    text-decoration: none; // remove underline on IE9
    @include transition(all .5s);
    @media only screen and (min-width: 768px) {
      font-size: 4rem;
    }
    @media only screen and (min-width: 1224px) {
      font-size: 5rem;
    }

    &:hover {
      color: $decoration;
    }
  }

  p {
    color: $headers;
    font-family: $mono-font;
    font-size: 1rem;
    margin-top: 1.8rem;
    text-transform: uppercase;
    @media only screen and (min-width: 768px) {
      font-size: 1.25rem;
    }
    @media only screen and (min-width: 1224px) {
      font-size: 1.5rem;
    }
  }
}