@import '../containers/module';

.main {
  @extend %display-flex;
  @include flex-direction(column);

  max-width: 1280px;

  @media only screen and (min-width: 468px) {
    @include flex-direction(row);
  }
  @media only screen and (min-width: 768px) {
    margin: 0 2em;
  }
  @media only screen and (min-width: 1224px) {
    margin: 0 5em;
  }

  .page {
    max-width: 626px;
    position: relative;
    z-index: 1;
    @media only screen and (min-width: 468px) {
      &:first-child {
        margin-right: 2%;
      }
    }
    @extend %module;
  }
}