@import '../containers/page';

.main {
  text-align: center;
  width: 100%;
  section {
    display: inline-block;
    max-width: 1280px;

    // page, module and copy containers
    @extend %page;
  }
}